* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  background-color: rgb(87, 163, 185);
  border-radius: 10px;
  margin-bottom: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sidebar {
  position: fixed;
  top: 0; 
  right: 0;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 50%;
}
.sidebar li {
  width: 100%;
  height: auto;
}
.sidebar a {
  width: 100%;
  height: 30%;
}
.navbar li {
  height: 100%;
}
.navbar a {
  height: 100%;
  padding: 15px 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
li:first-child {
  margin-right: auto;
  height: 100%;
}
.navbar li a:hover {
  background-color: rgba(90, 202, 202, 0.562);
  align-items: center;
  padding: 12px 15px;
  transition: 0.6s;
  margin-bottom: 5px;
  color: blue;
  height: 100%;
}
.menu-button {
  display: none; /* Hide the menu button by default */
}
@media (max-width: 400px) {
  .hideOnMobile {
    display: none; /* Hide elements with this class on small screens */
  }
  .menu-button {
    display: flex; /* Show the menu button on small screens */
  }
  .sidebar {
    width: 100%;
  }
}
.outermost{
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  width:800px;
  margin: auto;
  margin-bottom: 10px;
}
p{
font-size:21px;
}
.text{
  z-index: 0;
  text-align:start;
  justify-content: center;
  display: relative;
  background-color: rgba(255, 255, 255, 0);
  height:auto;
  margin:1%;
  width:auto;
  padding: 20px 20px;
  animation-name:move-right;
  animation-fill-mode: forwards;
  transform: translate(-60%);
  animation-delay:3s;
  animation-duration:0.5s;
  background-color: rgba(255, 255, 255, 0);
  color:rgba(255, 255, 255, 0);

}
.anim:hover + .text{
  transition: ease 1s;
  animation-duration: 2s;
  transform:translate(10px);
  color:black;;
}
.circle:hover + .text{
  transition: ease 1s;
  transform:translate(5px);
  color: black;
}
.anim:not(:hover)+.text{
  transition: ease 1s;
  transform: translate(-30px);
}
.circle:not(:hover)+.text{
  transition: ease 1s;
  transform: translate(-70px);
}
.anim
{
  z-index: 999;
  border:3px solid black;
  height: 200px;
  width:250px;
  padding:2% 6.5%;
  box-shadow: 10px 30px 10px inset black 0 10px 30px inset grey;
  background-color: rgba(0, 255, 255, 0);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  animation-duration: 3s;
  animation-name: spin;
  font-weight: 700;
  font-size: 36;
  margin-top: 0%;
  animation-fill-mode: forwards;
  animation-direction:normal;
}
.circle
{
  z-index: 999;
  border:3px solid black;
  height: 200px;
  width:220px;
  backdrop-filter:blur(20px);
  background-color: rgba(255, 255, 255, 0.377);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align:justify;
  font-weight: 700;
  font-size: 32;
  margin-top: 0%;
  margin-right:0%;
  border-radius: 50%;
  padding:20px 50px;
}

@keyframes spin{

0%{background-color:rgba(0, 0, 0, 1) ;}
10%{background-color:rgba(75, 0, 130, 1) ;}
20%{background-color:rgba(0, 0, 255, 1);}
30%{ background-color:rgba(0, 255, 255, 1) ;}
40%{ background-color:rgba(0, 255, 0, 1) ;}
50%{background-color:rgba(255, 255, 0, 1) ; scale: 1.5;}
60%{background-color:rgba(255, 166, 0, 0.76);}
70%{ background-color:rgba(255, 0, 0, 0.486) ;}
80%{ background-color:rgba(128, 0, 0, 0.295) ;}
90%{background-color:rgba(76, 0, 130, 0.116) ;}
100%{background-color:rgba(255, 255, 255, 0.384);
transform: rotate(360deg);
border-radius: 50%;

}


}
footer {
  text-align: center;
  padding: 5px 5px;
  background-color:rgba(90, 202, 202, 0.562);
  color: white;
}
.div_foot
{ display:inline-block;
  margin-top: 10px; 
  background-color: rgb(16, 101, 228);
  margin-left: 40px;
  margin-bottom: 10px; 
}