body{
    background-image: url(resources/bg1.jpg);
}
.outer {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    flex-direction: column;
    justify-content: center;
    height:90%;
    width:100%;
    margin-top:30px;
}
.inner{
    height: auto;
    text-align: auto;
    width:350px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    text-decoration: none;
    flex: 1;
    border: 2px outset grey;
    color: white;
    margin: 5px;
    margin-bottom: 10PX;
    padding:5px;
    border-radius: 15px;
    backdrop-filter:blur(10px);
    box-shadow: 20px 10px 10px rgba(59, 59, 59, 0.336);
    animation-name:zoom;
    animation-duration: 1s;
}
@keyframes zoom{
    0%{
        scale:0.1;
    
    }
    100%{
        scale:1;
    }
}
h1,h4,h6{
    text-align: center;
    color: black;
    font-size: 21px;
}
input
{
    text-align: auto;
    height: 35px;
    width: 300PX;
    border-radius: 10px;
    padding:0px,10%;
    font-family: "Arial";
    font-size: 14px;
    
}
   
p{
    color:rgb(10, 10, 10);
    font-size:18px;
    font-weight: bold;
}
a{
    color:white;
}
